.info {
    display: flex;
    min-width: 1440px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.frame_expert {
    width: 630px;
    height: 324px;
    gap: 40px;
    opacity: 1;
    margin-left: 60px;
    margin-top: 40px;
}

.expert_title {
    width: 630px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-weight:bold;
    font-size: 48px;
    vertical-align: middle;
    color: rgba(0, 0, 0, 1);
}

.expert_text {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
    vertical-align: middle;
    color: rgba(0, 0, 0, 1);
}

.highlighting {
    font-weight: bold;
}

.members_buttons_container {
    position: block;
    text-decoration: none;
    width: 178px;
    height: 42px;
    margin-top: 40px;
}

.members_button {
    width: 178px;
    height: 42px;
    background-color: rgba(220, 62, 72, 1);
    border-radius: 20px;
}

.members_button_text {
    font-family: 'Montserrat';
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0%;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    padding-top: 8px;
}

.expert_statements {
    width: 830px;
    height: 278px;
    opacity: 1;
    gap: 40px;
    margin-left: 400px;
}

.circle_statment {
    height: 30px;
    width: 30px;
    background-color: rgba(220, 62, 72, 1);
    border-radius: 15px;
    margin-left: -46px;
    margin-bottom: -45px;
}

.circle_number {
    font-family: 'Montserrat';
    font-weight: 600;
    font-style: Bold;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    color: rgba(255, 255, 255, 1);
}

.text_statement {
    font-family: 'Montserrat';
    font-weight: 600;
    font-style: Medium;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -2%;
    vertical-align: middle;

}

.first_statement {
    width: 249px;
    height: 88px;
    gap: 8px;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: -80px;
}

.second_statement {
    width: 249px;
    height: 44px;
    gap: 8px;
    margin-bottom: 40px;
    margin-left: -80px;

}

.third_statement {
    width: 430px;
    height: 66px;
    margin-left: -80px;

}

.fourth_statement {
    width: 295px;
    height: 88px;
    gap: 16px;
    margin-left: 250px;
    margin-top: -285px;
}

.fifth_statement {
    width: 295px;
    height: 44px;
    margin-left: 250px;
    margin-top: 30px;
}